//- views/crate_view.pug
extends player_shell

block content
  //- [FIX] Added data-crate-id for hydration
  .content-scroll(data-page="crate-view" data-crate-id=crateId)
    
    //- CRATE HERO HEADER
    .crate-hero
      .crate-hero-inner
        //- Cover Art
        .crate-cover
          //- [FIX] Check for custom coverImage FIRST, then first track, then placeholder
          if crate.coverImage
             img(src=crate.coverImage alt=crate.title)
          else if crate.tracks && crate.tracks.length > 0
             img(src=crate.tracks[0].artUrl || crate.tracks[0].img || 'https://via.placeholder.com/300' alt=crate.title)
          else
            .crate-cover-placeholder
              i.fas.fa-box-open
        
        //- Crate Info
        .crate-info
          .crate-badge CRATE
          h1.crate-title= crate.title
          if crate.description
            p.crate-description= crate.description
          
          //- Creator & Stats
          .crate-meta
            if crate.creatorAvatar
              img.creator-avatar(src=crate.creatorAvatar alt=crate.creatorHandle)
            else
              .creator-avatar-placeholder
                i.fas.fa-user
            .creator-info
              a.creator-handle(
                href="javascript:void(0)" 
                onclick=`window.navigateTo('/player/u/${crate.creatorHandle ? crate.creatorHandle.replace('@', '') : ''}')`
              )= crate.creatorHandle || 'Unknown'
              .crate-stats
                span #{crate.tracks ? crate.tracks.length : 0} tracks
                span • 
                span #{crate.plays || 0} plays
                span • 
                span #{crate.likes || 0} likes
    
    //- CONTROLS BAR
    .crate-controls
      .control-group-left
        //- Play All Button
        button.btn-play-all(onclick="window.ui.playCrate(false)" title="Play All")
          i.fas.fa-play
          span Play All
        
        //- Shuffle Button
        button.btn-shuffle(onclick="window.ui.playCrate(true)" title="Shuffle")
          i.fas.fa-random
        
        //- Like/Heart Button
        button.btn-like-crate(onclick="window.ui.toggleCrateLike()" title="Like this crate")
          i.far.fa-heart
      
      .control-group-right
        //- More Options
        button.btn-more(onclick="window.ui.showToast('More options coming soon')" title="More options")
          i.fas.fa-ellipsis-h

    //- TRACK LIST
    .crate-tracklist
      if crate.tracks && crate.tracks.length > 0
        .tracklist-header
          .track-col.col-num #
          .track-col.col-title Title
          .track-col.col-artist Artist
          .track-col.col-duration
            i.fas.fa-clock
        
        .tracklist-body
          each track, index in crate.tracks
            .track-row(
              onclick=`window.ui.playCrateTrack(${index})`
            )
              .track-col.col-num
                span.track-number= index + 1
                i.fas.fa-play.track-play-icon
              
              .track-col.col-title
                .track-title-group
                  if track.artUrl || track.img
                    img.track-thumb(src=track.artUrl || track.img alt=track.title)
                  .track-title-text
                    .track-title= track.title
                    .track-artist-mobile= track.artist
              
              .track-col.col-artist
                span= track.artist
              
              .track-col.col-duration
                span= formatTime(track.duration)
              
              .track-col.col-actions
                button.track-like-btn(
                  onclick=`event.stopPropagation(); window.toggleSongLike(this, '${track.id}', '${track.title.replace(/'/g, "\\'")}', '${track.artist.replace(/'/g, "\\'")}', '${track.artUrl || track.img}', '${track.audioUrl}', '${track.duration}')`
                  data-song-id=track.id
                  title="Like"
                )
                  i.far.fa-heart
                button.track-more-btn(onclick="event.stopPropagation(); window.ui.showToast('More options coming soon')" title="More")
                  i.fas.fa-ellipsis-h
      else
        .empty-crate
          i.fas.fa-box-open
          p This crate is empty
          p.text-muted The creator hasn't added any tracks yet

    //- Spacing for player
    div(style="height: 150px")